$background: white;
$accent-1: #0265CC;
$countdown: white;
$offcolor-heading: white;
$subtle-heading: black;
$subtle-text: black;
$contrast-text-bkg: white;
$header-text: white;
$subtle-overlay: rgba(0, 0, 0, 0.4);
$box-shadow: 0 15px 10px -6px rgba(0, 0, 0, 0.8);
