$background: #EFECE6;
$accent-1: #F07D28;
$countdown: white;
$offcolor-heading: black;
$subtle-heading: #737373;
$subtle-text: #D5D6D5;
$contrast-text-bkg: #7F7F7F;
$header-text: black;
$subtle-overlay: rgba(255,255,255,0.4);
$box-shadow: 0 15px 10px -6px #a8a7a7;