.contact-heading {
	color: $subtle-heading;
}

// ID for contact form on contact page
#wpcf7-f86-p84-o1, #wpcf7-f86-p70-o2 {
	margin: 50px auto 0 auto;
	padding-bottom: 120px;
	@media all and (max-width: 768px) {
		padding-left: 30px;
	}
	label {
		color: transparent;
	}
	p:nth-of-type(1), p:nth-of-type(3	) {
		float: left;
		width: calc(50% - 25px);
		@media all and (max-width: 550px) {
			width: 80%;
		}
	}
	p:nth-of-type(1) {
		margin-right: 25px;
	}
	p:nth-of-type(3) {
		margin-left: 25px;
		@media all and (max-width: 550px) {
			margin-left: 0;
		}
	}
	p:last-of-type {
		text-align: center;
	}
	textarea {
		width: 100%;
		margin-top: 15px;
	}
	textarea, input {
		width: 100%;
		height: 40px;
		padding: 10px;
		border: none;
		border-bottom: 2px solid $subtle-text;
		outline: none;
		font-family: $sans-serif;
		font-style: italic;
		&:focus {
			border-bottom: 2px solid $accent-1;
		}
	}
	input.wpcf7-submit {
		width: 180px;
		margin-top: 50px;
		padding: 6px 0;
		background: transparent;
		border: 3px solid $accent-1;
		border-radius: 50px;
		font-size: 12px;
		text-transform: uppercase;
		font-style: bold;
		color: $accent-1;
		&:hover {
			background-color: $accent-1;
			color: white;
		}
	}
	.wpcf7-form::after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

.front-page-contact {
	padding-top: 100px;
	background-color: $background;
	input, textarea {
		background-color: $background;
	}
}