h1 a {
	color: $header-text;
}

header .menu {
	float: right;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	@media all and (max-width: 768px) {
		display: none;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 30;
		background-color: rgba(255, 255, 255, 0.8);
	}
	ul {
		padding-top: 10px;
	}
	li {
		display: inline-block;
		margin-right: 10px;
		@media all and (max-width: 768px) {
			display: block;
			height: 13%;
			text-align: center;
			&:first-child {
				margin-top: 20%;
			}
		}
		a {
			position: relative;
			font-size: 15px;
			padding: 10px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $header-text;
			&:hover, &:focus {
				color: $accent-1;
			}
			@media all and (max-width: 768px) {
				padding: 20px;
				font-size: 22px;
				font-weight: bold;
				font-family: $heading-font;
			}
			&:hover::after {
				@include keyline(calc(50% - 20px), 40px, $accent-1);
			}
		}
	}
}

.hamburger {
	display: none;
	position: relative;
	float: right;
	z-index: 40;
	.fa-bars {
		font-size: 36px;
	}
	@media all and (max-width: 768px) {
		display: block;
	}
}

#menu-social-navigation {
	float: left;
	li {
		display: inline-block;
		margin: 0;
		a {
			padding: 8px 10px;
			color: #7D7D7A;
			font-size: 20px;
			&:hover {
				color: white;
			}
		}
	}
}

